
	<div class="sidebar-content">

		<a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
		<p>{{ .Site.Params.description }}</p>
		<img src="/blog/john.jpg" />

		<div class="sidebar-freetext">
			{{ .Site.Params.sidebarFreeText }}<br/>
<a href="https://github.com/jlevon/">github</a> |
<a href="https://twitter.com/johnlevon">twitter</a> |
<a href="mailto:levon@movementarian.org">email</a> |
<a href="/blog/index.xml">RSS</a>
		</div>

		<ul class="sidebar-menus">
			{{ range .Site.Menus.main }}
				<li>&#187; <a href="{{.URL}}">{{ .Name }}</a> {{ .Post }}</li>
			{{end}}
		</ul>

		<div class="sidebar-recent hidden-xs">
			<p>Recent Posts:</p>
			<ul>
				{{ range first 10 (where .Site.RegularPages "Section" "posts") }}
				<li><a href="{{.Permalink}}">{{ .Title }}</a></li>
				{{ end }}
			</ul>
			<p><a href="/blog/index/">All Posts</a>
		</div>

		<p class="attr">[Theme modified from <a href="https://github.com/ExchangeRate-API/strange-case">Strange Case</a>.]</p>

	</div>
